@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;450;550;700;800;900&display=swap');
*{
    font-family: Poppins;
}
main{
    position:relative;
    width:100%;
    top:10vw;
}